{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Morisummon{% endblock %}</title>
    {% block vite %}{% vite_asset 'frontend/src/main.tsx' %}{% endblock  %}

    <link rel="icon" href="/static/images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c" rel="stylesheet" />

<link rel="manifest" href="{% static 'manifest.json' %}">
<link rel="icon" href="{% static 'images/icon-192.png' %}">
<link rel="apple-touch-icon" href="{% static 'images/icon-512.png' %}">
<meta name="theme-color" content="#5f27cd">

    {% csrf_token %}
</head>
<body>
<div id="root"></div>
</body>
</html>
