@font-face {
  font-family: 'YourFont';
  src: url('/static/fonts/MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'YourFont', 'Helvetica Neue', sans-serif;
}
